spring:
  profiles:
    active: local
  #    active: stand
  kafka:
    consumer:
      group-id: demo-group-id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    security:
      protocol: ${PROTOCOL:PLAINTEXT}
    bootstrap-servers: ${BOOTSTRAP_SERVERS:localhost:29092,localhost:39092,localhost:49092}
    admin:
      ssl:
        trust-store-location: ${TRUSTSTORE_LOCATION:}
        trust-store-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
        key-password: ${KAFKA_SSL_KEY_PASSWORD:}
        key-store-password: ${KAFKA_SSL_KEYSTORE_PASSWORD:}
        key-store-location: ${KEYSTORE_LOCATION:}

topic:
  name: ${TOPIC_NAME:dev__dko_uasp__card_agreement_converted}
  findStr: ${TOPIC_FIND:global_id}

logging:
  level:
    org:
      apache:
        kafka: off
    ru: info